/* 
Styles for the main blog page
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-main {
    margin: 0 100px 50px 50px;
}

.entry-title {
	display: block;
    padding: 3rem;
}

.post-thumbnail {
	display: none;
}