/* 
Styles for the search page
*/

.ts-wrapper-search {
    display: flex;
    flex-wrap: wrap;
}

.site-search-main {
    display: flex;
    flex-wrap: wrap;
}

.page-search-header {
    flex-basis: 100vw;
}