/*
 This is a single product page styles file 
 */

 .product-description {
     background-color: var(--main-color-2)!important;
 }

 .ic_tabs {
     background-color: ;
 }

 /* #after-product-details {
     background-color: var(--main-color-2);
 } */