/* 
This is the style file for the product catalog home page.
*/

.ts-wrapper-products {
    display: flex;
    background-color: var(--main-color-2);
}

#main-content .al_archive a h3.product-name, #page-container .al_archive a h3.product-name, #primary .page .entry-content .al_archive h3.product-name, #product_listing .al_archive .product-name, #product_listing .al_archive h3.product-name, .al_archive .product-name {
    background-color: var(--main-color);
}

#container.content-area.product-catalog .al_archive .product-price, .al_archive .product-price {
    background-color: var(--main-color-hover);
}

.widget-area-productSidebar {
    background-color: var(--bg-color-black-gray);
}

#product_search_form.green-box #searchsubmit {
	background-color: var;
}
/* .ts-wrapper-product {
    background-color: #fff;
} */