/* 
This is the style file for the product catalog home page.
*/

.arrow

.ts-wrapper-products {
    display: flex;
    background-color: var(--main-color-2);
    padding: 2rem 0;
    margin-top: 100px;
}

.site-main-products {
    flex-grow: 2;
    padding: 0 1rem;
}

#main-content .al_archive a h3.product-name, #page-container .al_archive a h3.product-name, #primary .page .entry-content .al_archive h3.product-name, #product_listing .al_archive .product-name, #product_listing .al_archive h3.product-name, .al_archive .product-name {
    background-color: var(--main-color);
}

#container.content-area.product-catalog .al_archive .product-price, .al_archive .product-price {
    background-color: var(--main-color-hover);
}

.widget-area-productSidebar {
    background-color: var(--bg-color-black-gray);
}

#product_search_form.green-box #searchsubmit {
	background-color: var(--main-color);
}

#product_search_form.green-box #searchsubmit:hover {
    background-color: var(--main-color-hover);
}

.green-box .price-filter-submit[type="submit"], .green-box .product-search-submit {
	background-color: var(--main-color);
}

.green-box .price-filter-submit[type="submit"]:hover, .green-box .product-search-submit:hover {
    background-color: var(--main-color-hover);
}

