/* 
Styles for subpages
*/

.ts-wrapper-page {
    display: flex;
    margin: 450px 0 0;
}

.ts_menu_wrapper {
    width: 70vw;
    max-width: 100vw;
    /* margin: -250px 0 0; */
    /* margin-top: -300px; */
    padding: 5vw;
}

.site-main-page {
    min-height: 100%;
    background-color:var(--main-color-2);
}

.wp-block-buttons.is-content-justification-right > .wp-block-button.wp-block-button, .wp-block-buttons > .wp-block-button.wp-block-button.baner-button-page {
    margin: -700px 0 0 25vw;
}

.wp-block-buttons.is-content-justification-right > .wp-block-button.wp-block-button, .wp-block-buttons > .wp-block-button.wp-block-button.baner-button-page a strong:hover {
    color: var(--font-color-white);
}

.wp-block-image.is-style-default.arrowMenu {
    margin-top: -;
}